* {
  margin: 0;
}
.contain {
  margin: 2px auto;
  columns: 3;
  column-gap: 3px;
}
.contain img {
  width: 100%;
  height: 400px;
  margin-left: 18px;
  padding: 5px;
  background: #fff;
}
.inputStyle:focus,
.search:focus {
  outline: none;
}
.search {
  display: flex;
  justify-content: center;
}
.main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
}
.header {
  background-color: #1d1d1d;
  color: white;
  text-align: center;
}
.input {
  width: 25%;
  outline: none;
  border-radius: 10px;
}
.icon {
  border-radius: 25%;
}
.reset {
  margin-left: 623px;
  margin-top: 3px;
}
.reset-btn {
  width: 98px;
  border: black;
}
.container {
  padding-top: 100px;
}
